<div>
  <img src='https://i.ytimg.com/vi/0a_cFa0HrTg/maxresdefault.jpg' style='height: 400px; width:400px'>
</div>

<h1>Enter names to begin battle!</h1>
<h3>Prepare yourself for the best battle game EVER!</h3>
<form action='/names' method='post'>
  <div>
    <label for='player1'>Player 1:</label>
    <input type='text' name='Player1'>
    <div class="break 5px" style="height: 5px"></div>
    <label for='player2'>Player 2:</label>
    <input type='text' name='Player2'>
  </div>
  <div class="break 15px" style="height: 15px"></div>
  <div>
    <input type='submit' value='Submit form'>
  </div>
</form>
