<div>
  <img src='https://i.ytimg.com/vi/0a_cFa0HrTg/maxresdefault.jpg' style='height: 400px; width:400px'>
</div>

<form action='/names' method='post'>
  <div>
    <label for='player1'>Player 1:</label>
    <input type='text' name='Player1'>
    <label for='player2'>Player 2:</label>
    <input type='text' name='Player2'>
  </div>
  <div>
    <input type='submit' value='Submit form'>
  </div>
</form>
      