<html>
<head>
  <meta charset=utf-8 />
  <title></title>
  <style>
    div.container {
      display: block;
      float: left;
      color: coral;
      padding: 10px;
    }

    p {
      text-align:center;
    }
  </style>
</head>


<body>
  <div class="container">
    <img src="https://orig00.deviantart.net/8d93/f/2016/195/4/3/absol_gijinka_oc__jellaine_pokemon_form__by_sephy90-daa10sh.png" alt="" style="height: 200px">
    <h1><%=@player1%></h1>
  </div>

  <div class="container">
  <h1> versus </h1>
  </div>

  <div class="container">
    <img src="https://t00.deviantart.net/12ltF6w3huOgUL6Y-bdPV7KG8RQ=/300x200/filters:fixed_height(100,100):origin()/pre00/58a8/th/pre/f/2011/057/c/1/pokemon_eevee_by_bestpokemonmaster-d3agprc.jpg" alt="">
    <h1><%=@player2%></h1>

  </div>
  <br>
  <h1>BATTLE!</h1>
</body>
</html>